<div class="footer">
    <div class="text">
        <p>
            En fot med lite text.
        </p>
    </div>
    <div class="social">
        <!-- Loads from FontAwesome (themes/shared/css/font-awesome.min.css) -->
        {% for social in pages["_meta"].meta.social %}
        <a href="{{ social.url }}" title="{{ social.title }}" role="button" >
            <img class="{{social.icon}}"  src="/assets/img/github-mark.svg" alt=" "> <!-- class="{{social.icon}}" aria-hidden="true" alt="fffff"></img> -->
       {#      <span class="sr-only-hover" {{ social.title }}</span> #}
        </a>
        {% endfor %}
    </div>
</div>

<script src="{{ theme_url }}/../shared//js/modernizr-3.3.1-custom.min.js" type="text/javascript"></script>
<script src="{{ theme_url }}/../shared//js/utils.js" type="text/javascript"></script>
<script src="{{ theme_url }}/../shared//js/responsive-navbar.js" type="text/javascript"></script>
